!!!
%html
  %head
    %meta{ name: "viewport", content: "width=device-width,user-scalable=no,maximum-scale=1.0,initial-scale=1.0"}
    %script{ src: "javascripts/lib/jquery-1.11.2.min.js" }
    %script{ src: "javascripts/app.js" }
  %body
    %h1
      Content goes here!
